body {
  text-align: center;
  background-color: #ccffff;
  margin: 50px;
  border-style: double;
  padding: 30px;
}

.header {
  text-decoration: underline;
  font-family: "Verdana";
}

.Intro {
  font-size: larger;
  font-family: Arial;
}

hr.solid {
  border-top: 1px solid black;
}

main {
  font-size: medium;
  font-family: Arial;
  padding: 10px;
}

p {
  text-align: end;
}
